body {
  font-family: sans-serif;
  margin: 0;
  font-size: 14px;
}
a, a:hover {text-decoration: none; color: inherit;}
img  {
  max-height: 100%;
  max-width: 100%;
  border: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
.pull-left  {float: left;}
.pull-right {float: right;}
.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
.header {
  width: 100%;
  display: inline-block;
  height: 3rem;
  background-color:#043864e0;
  padding: 0.5rem 0;
}
.header .logo {
  height: 2rem;
}
.menu-top {
  margin: 0;
  padding: 0;
}
.menu-top li {
  list-style: none;
  float: left;
  line-height: 2rem;
}
.menu-top li a {
  padding: 0 15px;
  color: #bebebe;
}
.content {
  min-height: 80vh;
}
.content .photo {
  width: 50%;
  float: left;
}
.content .info {
  margin-left: 51%;
}
.footer {
  display: inline-block;
  width: 100%;
  background-color: #043864e0;
  text-align: center;
}